In [3]:
import numpy as np
import pandas as pd 
import matplotlib
import sklearn

In [4]:
netflix_data = pd.read_csv('data_TV.csv')

In [5]:
netflix_data.head(10)

,first_air_date,origin_country,original_language,name,popularity,vote_average,vote_count,overview
0,2021-09-03,US,en,The D'Amelio Show,30.104,9.0,3071,From relative obscurity and a seemingly normal...
1,2008-01-20,US,en,Breaking Bad,468.253,8.8,10131,"When Walter White, a New Mexico chemistry teac..."
2,2021-11-06,US,en,Arcane,95.667,8.7,2615,Amid the stark discord of twin cities Piltover...
3,2013-12-02,US,en,Rick and Morty,1511.996,8.7,7220,Rick is a mentally-unbalanced but scientifical...
4,2022-04-14,US,en,The Kardashians,195.038,8.7,1627,The family you know and love is here with a br...
5,2016-04-03,JP,ja,My Hero Academia,106.235,8.7,3909,In a world where eighty percent of the populat...
6,2017-03-19,CA,en,Anne with an E,117.989,8.7,4064,"A coming-of-age story about an outsider who, a..."
7,2019-04-06,JP,ja,Demon Slayer: Kimetsu no Yaiba,103.762,8.7,4422,"It is the Taisho Period in Japan. Tanjiro, a k..."
8,1999-10-20,JP,ja,One Piece,101.767,8.7,3318,"Years ago, the fearsome Pirate King, Gol D. Ro..."
9,2009-04-05,JP,ja,Fullmetal Alchemist: Brotherhood,89.893,8.7,1450,Edward and Alphonse Elric's reckless disregard...

In [6]:
netflix_data.tail(10)

,first_air_date,origin_country,original_language,name,popularity,vote_average,vote_count,overview
2607,2005-09-17,"c(""US"", ""CA"")",en,Johnny Test,28.509,5.5,126,Young Johnny is gung-ho and full of courage. J...
2608,1963-04-01,US,en,General Hospital,219.751,5.6,186,"Families, friends, enemies and lovers experien..."
2609,1993-05-09,US,en,The Tommyknockers,6.914,5.5,138,A buried UFO slowly turns local inhabitants in...
2610,2018-12-02,US,en,Nightflyers,11.746,5.5,111,"In the year 2093, a team of scientists aboard ..."
2611,2003-05-20,US,en,America's Next Top Model,17.102,5.3,110,Aspiring models compete for a chance to break ...
2612,2002-06-11,US,en,American Idol,34.052,5.2,135,"Each year, hopeful singers from all over the c..."
2613,2000-07-05,US,en,Big Brother,47.029,4.9,190,American version of the reality game show whic...
2614,1997-03-31,GB,en,Teletubbies,36.875,4.1,108,"Pre-school fun, fantasy and education with col..."
2615,1985-02-19,GB,en,EastEnders,108.720,3.9,183,The everyday lives of working-class residents ...
2616,2006-10-09,CA,fr,La Job,6.968,0.6,162,La Job is a French Canadian comedy television ...

In [7]:
netflix_data.shape

(2617, 8)

In [8]:
netflix_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2617 entries, 0 to 2616
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   first_air_date     2611 non-null   object
 1   origin_country     2617 non-null   object
 2   original_language  2617 non-null   object
 3   name               2617 non-null   object
 4   popularity         2617 non-null   float64
 5   vote_average       2617 non-null   float64
 6   vote_count         2617 non-null   int64
 7   overview           2552 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 163.7+ KB